<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-warning">
                <h4 class="card-title">Ramos Primer Semestre</h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead class="text-warning">
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Dificultad</th>
                     
                    </thead>
                    <tbody>
                        <tr>
                            <td>240172</td>
                            <td>Investigación de Operaciones</td>
                            <td>###</td>
                       
                        </tr>
                        <tr>
                            <td>634171</td>
                            <td>Arquitectura de Computadores</td>
                            <td>###</td>
                            
                        </tr>
                        <tr>
                            <td>310137</td>
                            <td>Administración y Prog. de Base de Datos</td>
                            <td>###</td>
                        </tr>
                        <tr>
                            <td>634172</td>
                            <td>Sistemas de Información</td>
                            <td>####</td>
                        </tr>
                        <tr>
                            <td>326799</td>
                            <td>Gestión Estratégica</td>
                            <td>###</td>
                        </tr>
                        <tr>
                            <td>326799</td>
                            <td>Gestión Presupuestaria y Financiera</td>
                            <td>###</td>
                        </tr>
                        <tr>
                            <td>326799</td>
                            <td>Formación Integral Oferta Institucional</td>
                            <td>###</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-warning">
                <h4 class="card-title">Ramos Segundo Semestre</h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead class="text-warning">
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Dificultad</th>
                     
                    </thead>
                    <tbody>
                        <tr>
                            <td>240173</td>
                            <td>Legislación</td>
                            <td>####</td>
                       
                        </tr>
                        <tr>
                            <td>240174</td>
                            <td>Sistemas Operativos</td>
                            <td>####</td>
                            
                        </tr>
                        <tr>
                            <td>634173</td>
                            <td>Inteligencia Artificial</td>
                            <td>####</td>
                        </tr>
                        <tr>
                            <td>634174</td>
                            <td>Ingeniería de Software</td>
                            <td>#####</td>
                        </tr>
                        <tr>
                            <td>326799</td>
                            <td>Formulación y Evaluación de Proyectos</td>
                            <td>#####</td>
                        </tr>
                        <tr>
                            <td>326952</td>
                            <td>Práctica Profesional II</td>
                            <td>#####</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

