<div class="main-content">
    <div class="container-fluid">
        <div class="titulo"><h1>Recopilación Ingenieria Civil en Informatica</h1></div>
        
            
                <div class="card border-info mb-3">
                    <div class="card-header">INFORMACION</div>
                    <div class="card-body ">
                      <h5 class="card-title text-info">¿Cómo funciona esta página?</h5>
                      <p class="card-text">Esta es una pagína dedicada a la recopilación de información de la carrera ingenieria civil en informatica en donde se encontrará apuntes recomendaciones y tips para los ramos de esta</p>
                    </div>
                </div>
            
            
                <div class="card border-dark " >
                    <div class="card-header">Que formato utilizamos?</div>
                    <div class="card-body">
                        <div class=" container">
                            <div class="row">
                            <div class="col-sm"><img class="card-img-top" src="../../../assets/img/logo-pdf.png" style="width: 6rem;  margin-top: 6px;" alt="Card image cap"></div>
                            <div class="col-sm"><img class="card-img-top" src="../../../assets/img/logo-word.png" style="width: 7rem; margin-top: 6px;" alt="Card image cap"> </div>
                            <div class="col-sm"><img class="card-img-top" src="../../../assets/img/logo-excel.png" style="width: 6rem;  margin-top: 6px;" alt="Card image cap"></div>
                            </div>  
                        </div>
                        <div class=" container">
                            <div class="row">
                            <div class="col-sm"> <h5 style="margin-top:6px">PDF</h5></div>
                            <div class="col-sm"><h5 style="margin-top:6px">WORD</h5></div>
                            <div class="col-sm"><h5 style="margin-top:6px">EXCEL</h5> </div>
                            </div>  
                        </div>
                    </div>
                </div>
            
  <!--malla curricular -->      
        <div class="row">
            <div class="card">
                <div class="row no-gutters">
                  <div class="col-md-8">
                    <img src="../../../assets/img/malla.png" class="img-fluid" alt="Malla curricular">
                  </div>
                  <div class="col-md-4">
                    <div class="card-body">
                      <h5 class="card-title">Ingeniería Civil En Informática</h5>
                      <p class="card-text">Imagen representativa de la malla estudiantil</p>
                    </div>
                  </div>
                </div>
              </div>
        </div>   
 <!---------------------------------------------------------------------->
    </div>
  </div>
  


