<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-warning">
                <h4 class="card-title">Ramos Primer Semestre</h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead class="text-warning">
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Dificultad</th>
                     
                    </thead>
                    <tbody>
                        <tr>
                            <td>240172</td>
                            <td>Álgebra y Trigonometría</td>
                            <td>###</td>
                       
                        </tr>
                        <tr>
                            <td>634171</td>
                            <td>Introducción a la Ingeniería</td>
                            <td>###</td>
                            
                        </tr>
                        <tr>
                            <td>310137</td>
                            <td>Comunicación Oral y Escrita</td>
                            <td>###</td>
                        </tr>
                        <tr>
                            <td>634172</td>
                            <td>Introducción a la Programación</td>
                            <td>####</td>
                        </tr>
                        <tr>
                            <td>326799</td>
                            <td>Formación Integral Oferta Institucional</td>
                            <td>###</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-warning">
                <h4 class="card-title">Ramos Segundo Semestre</h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead class="text-warning">
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Dificultad</th>
                     
                    </thead>
                    <tbody>
                        <tr>
                            <td>240173</td>
                            <td>Cálculo Diferencial</td>
                            <td>####</td>
                       
                        </tr>
                        <tr>
                            <td>240174</td>
                            <td>Química General</td>
                            <td>####</td>
                            
                        </tr>
                        <tr>
                            <td>634173</td>
                            <td>Estructuras Discretas para Cs de la Computación</td>
                            <td>####</td>
                        </tr>
                        <tr>
                            <td>634174</td>
                            <td>Programación Orientada a Objeto</td>
                            <td>#####</td>
                        </tr>
                        <tr>
                            <td>326799</td>
                            <td>Formación Integral Oferta Institucional</td>
                            <td>#####</td>
                        </tr>
                        <tr>
                            <td>326952</td>
                            <td>Formación Integral Oferta Institucional</td>
                            <td>#####</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




