<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-warning">
                <h4 class="card-title">Ramos Primer Semestre</h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead class="text-warning">
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Dificultad</th>
                     
                    </thead>
                    <tbody>
                        <tr>
                            <td>240172</td>
                            <td>Anteproyecto de Título</td>
                            <td>###</td>
                       
                        </tr>
                        <tr>
                            <td>634171</td>
                            <td>Comunicación de Datos y Redes</td>
                            <td>###</td>
                            
                        </tr>
                        <tr>
                            <td>310137</td>
                            <td>Electivo Profesional I</td>
                            <td>###</td>
                        </tr>
                        <tr>
                            <td>634172</td>
                            <td>Gestión de Proyectos de Software</td>
                            <td>####</td>
                        </tr>
                        <tr>
                            <td>326799</td>
                            <td>Gestión de Recursos Humanos</td>
                            <td>###</td>
                        </tr>
                        <tr>
                            <td>326799</td>
                            <td>Electivo Profesional II</td>
                            <td>###</td>
                        </tr>
                        <tr>
                            <td>326799</td>
                            <td>Electivo Profesional III</td>
                            <td>###</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-warning">
                <h4 class="card-title">Ramos Segundo Semestre</h4>
                <p class="card-category"></p>
            </div>
            <div class="card-body table-responsive">
                <table class="table table-hover">
                    <thead class="text-warning">
                        <th>Codigo</th>
                        <th>Nombre</th>
                        <th>Dificultad</th>
                     
                    </thead>
                    <tbody>
                        <tr>
                            <td>240173</td>
                            <td>Proyecto de Título</td>
                            <td>####</td>
                       
                        </tr>
                        <tr>
                            <td>240174</td>
                            <td>Seguridad Informática</td>
                            <td>####</td>
                            
                        </tr>
                        <tr>
                            <td>634173</td>
                            <td>Electivo Profesional IV</td>
                            <td>####</td>
                        </tr>
                        <tr>
                            <td>634174</td>
                            <td>Electivo Profesional V</td>
                            <td>#####</td>
                        </tr>
                        <tr>
                            <td>326799</td>
                            <td>Electivo Profesional VI</td>
                            <td>#####</td>
                        </tr>
                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

